* {
  box-sizing: border-box;
  margin: 0;
}
/* Vores farver */
:root {
  --color-1: #f8f8f8;
  --color-2: #95df7c;
  --color-3: #f203a7;
  --color-4: #7edff3;
  --color-5: #3000b4;
  --color-6: #060d20;
}
/* Vores fonte */

/* billede og video */
img {
  width: 100%;
  height: auto;
}
video {
  width: 100%;
  height: auto;
  display: block;
}

html {
  background-color: #212121;
}

@keyframes color-change {
  0% {
    color: #f203a7;
  }
  25% {
    color: #95df7c;
  }
  50% {
    color: #7edff3;
  }
  75% {
    color: #f1249c;
  }
  100% {
    color: #3000b4;
  }
}

/* h2 tekst */
h2 {
  color: #95df7c;
  font-family: rama-gothic-e, sans-serif;
  font-weight: 500;
  font-style: Bold;
  text-align: center;
  font-size: 3rem;
}

/* h3 tekst */
h3 {
  color: #7edff3;
  font-family: rama-gothic-e, sans-serif;
  font-weight: 300;
  font-style: Bold;
}

/* h4 tekst */
h4 {
  color: #3000b4;
  font-family: rama-gothic-e, sans-serif;
  font-weight: 200;
  font-style: Bold;
}

/* p tekst */
p {
  color: #f8f8f8;
  font-family: azo-sans-web, sans-serif;
  font-style: light;
  font-weight: 100;
}
/* navigation */
.grob_logo {
  width: 50px;
}
.nav_tekst {
  color: #f8f8f8;
}
/* splash img */
.splash img {
  /* transform: scaleX(-1); */
  /* height: 750px; */
  object-position: 80% 0%;
}

/* splashtekst animation */
.splash_text {
  animation: color-change 5s infinite;
  font-family: rama-gothic-e, sans-serif;
  font-weight: 800;
  font-style: Bold;
  font-size: 4rem;
}
/* sectioner */
/* section 2 */
#section_2 {
  padding: 20px;
}

#section_2 img {
  aspect-ratio: 1/1;
  object-fit: cover;
  background-color: white;
  padding: 10px;
  margin: 1em;
}

#section_2 .wrapper {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

/* section 3 */
#section_3 {
  padding: 20px;
}
/* section 4 */
#section_4 {
  padding: 20px;
}

/* Kalender */
ul {
  list-style-type: none;
}

.month {
  padding: 60px 35px;
  width: 100%;
  background: #f203a7;
  text-align: center;
  font-family: rama-gothic-e, sans-serif;
  font-weight: 500;
  font-style: Bold;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: rama-gothic-e, sans-serif;
  font-weight: 500;
  font-style: Bold;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: rgb(0, 0, 0);
  font-family: rama-gothic-e, sans-serif;
  font-weight: 500;
  font-style: Bold;
}

.days li .active {
  padding: 8px;
  background: #f203a7;
  color: white !important;
}

/* Media queries til kalender */
@media screen and (max-width: 720px) {
  .weekdays li,
  .days li {
    width: 13.1%;
  }
}

@media screen and (max-width: 420px) {
  .weekdays li,
  .days li {
    width: 12.5%;
  }
  .days li .active {
    padding: 2px;
  }
}

@media screen and (max-width: 290px) {
  .weekdays li,
  .days li {
    width: 12.2%;
  }
}

/* section 5 */
#section_5 {
  padding: 20px;
}
