* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Vores farver */
:root {
  --color-1: #f8f8f8;
  --color-2: #95df7c;
  --color-3: #f203a7;
  --color-4: #7edff3;
  --color-5: #3000b4;
  --color-6: #060d20;
}
/* Vores fonte */

/* billede og video */
img {
  width: 100%;
  height: auto;
}
video {
  width: 100%;
  height: auto;
  display: block;
}

html {
  background-color: #212121;
}
a {
  text-decoration: none;
}
@keyframes color-change {
  0% {
    color: #f203a7;
  }
  25% {
    color: #95df7c;
  }
  50% {
    color: #7edff3;
  }
  75% {
    color: #f1249c;
  }
  100% {
    color: #3000b4;
  }
}
/* h1 tekst */
h1 {
  font-family: rama-gothic-e, sans-serif;
  font-weight: 800;
  font-style: Bold;
  font-size: 5rem;
  color: #7edff3;
  text-align: center;
}
/* h2 tekst */
h2 {
  color: #95df7c;
  font-family: rama-gothic-e, sans-serif;
  font-weight: 500;
  font-style: Bold;
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 30px;
  padding-top: 20px;
}
@media (min-width: 600px) {
  h2 {
    color: #95df7c;
    font-family: rama-gothic-e, sans-serif;
    font-weight: 500;
    font-style: Bold;
    text-align: center;
    font-size: 4rem;
    padding-bottom: 50px;
    padding-top: 20px;
  }
}

/* h3 tekst */
h3 {
  color: #7edff3;
  font-family: rama-gothic-e, sans-serif;
  font-weight: 300;
  font-style: Bold;
  font-size: 2rem;
}

/* h4 tekst */
h4 {
  color: #3000b4;
  font-family: rama-gothic-e, sans-serif;
  font-weight: 200;
  font-style: Bold;
}

/* p tekst */
p {
  color: #f8f8f8;
  font-family: azo-sans-web, sans-serif;
  font-style: light;
  font-weight: 100;
  line-height: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* navigation */
.grob_logo {
  width: 30px;
}
nav a {
  color: #f8f8f8;
  font-family: azo-sans-web, sans-serif;
  font-style: light;
  font-weight: 100;
}
nav a:hover {
  color: #f203a7;
  font-family: azo-sans-web, sans-serif;
  font-style: light;
  font-weight: 100;
}
/* sectioner */

/* Section 1 */
#section_1 {
  padding: 20px;
}

/* Section 2 */
#section_2 {
  padding: 20px;
  gap: 20px;
}

/* Section 3 */
#section_3 {
  padding: 20px;
  gap: 20px;
}
#section_3 .wrapper1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

#section_3 .wrapper2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
@media (min-width: 600px) {
  #section_3 .wrapper1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 40px;
  }

  #section_3 .wrapper2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 40px;
  }
}

/* Section 4 */
#section_4 {
  padding: 20px;
}
